html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #f0f0f0;
  /*color: #211f1e;*/
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
  /*background: #9CCC65;*/
  /*background: #A2D868;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-img {
  width: 100%;
  height: 100%;
  background: url(/img/bg2.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: url(blur.svg#blur);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

::-moz-selection {
  background: #FE9090;
  text-shadow: none;
}

::selection {
  background: #FE9090;
  text-shadow: none;
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 2px solid #fff;
  margin: 1em 0;
  padding: 0;
}

.container {
  position: relative;
  /*top: 100px;*/
}

h1 {
  font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: normal;
  margin: 0;
  text-align: right;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0 40px;
  padding: 10px 0 0;
  text-align: right;
}

h3 {
  font-size: 6em;
}

.day > div {
  /*font-weight: bold;*/
  line-height: 3em;
}

.weekday span {
  font-size: 18px;
  font-weight: bold;
}

.weekday p {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.weather img {
  width: 48px;
}

.high p,
.low p,
.hourly .temp {
  font-size: 16px;
}

.hourly {
  text-align: center;
  display: none;
}

.hourly .hour {
  font-weight: bold;
  font-size: 16px;
}

.hourly img {
  width: 24px;
}

.hourly p {
  margin: 16px 0;
}

.last {
  margin-bottom: 100px;
}

.col-sm-offset-7 {
  margin-left: 49.333333%;
}

.input-city {
  display: block;
  width: 81%;
  height: 40px;
  font-size: 22px;
  padding-left: 15px;
  letter-spacing: 1px;
  outline: 0;
  color: #333;
  background: rgba(255,255,255,.3);
  border: 1px solid #fff;
  margin: 80px auto 30px;

  transition: all .6s;
}

.input-city:hover,
.input-city:active,
.input-city:focus {
  background: #f3f3f3;
  /*border-color: rgba(85, 147, 253, 0.73);*/
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

.first-container {
  position: relative;
  top: -100px;
  opacity: 0;
}

.second-container {
  position: relative;
  bottom: -200px;
  opacity: 0;
}
